*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Nova Round", cursive, sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #005bbb, #005bbb, #ffd500, #ffd500);
  height: 100vh;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  width: 0 auto;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid #ffffff;
  outline: #0ee9f1;
  background: rgba(255, 255, 255, 0.75);
}

.btn-color:hover {
  background: #f1160e;
  color: #f1160e;
}

.calculator-grid > button:hover {
  background: #0ee9f1;
}

.span-two {
  grid-column: span 2;
  color: black;
  background: rgba(139, 0, 139, 0.8);
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}
